@import 'partials/setup';
@import 'partials/variables';
@import 'partials/global';
@import 'partials/slice';
@import 'partials/crust';
@import 'partials/pepperoni';
@import 'partials/spinach';
@import 'partials/mushroom';
@import 'partials/pineapple';
@import 'partials/ham';
@import 'partials/olive';