/* CRUST STYLES */

.base-crust {
    position: absolute;
    width: 78%;
    height: 80%;
    background: rgb(156, 106, 40);
}

.crust-one {
    top: 17%;
    left: 17%;
    
}

.crust-two {
    top: 17%;
    left: 11%;
}

.crust-three {
    top: 17%;
    right: 17%;
}

.crust-four {
    bottom: 17%;
    left: 17%;
}

.crust-five {
    bottom: 17%;
    left: 11%;
}

.crust-six {
    bottom: 17%;
    right: 17%;
}

.top-crust {
    position: absolute;
    width: 105%;
    height: 23%;
    background: rgb(128, 83, 26);
    z-index: 2;
    left: -2%;
}

.north-crust {
    top: -15%;
}

.south-crust {
    bottom: -19%;
}

.top-crust-two {
    position: absolute;
    width: 105%;
    height: 23%;
    background: rgb(167, 102, 17);
    z-index: 4;
    left: 0;
}

.north-crust-two {
    top: -17%;
}

.south-crust-two {
    bottom: -17%;
}

.top-crust-three {
    position: absolute;
    width: 105%;
    height: 23%;
    background: rgb(136, 87, 23);
    z-index: 6;
    left: 2%;
}

.north-crust-three {
    top: -19%;
}

.south-crust-three {
    bottom: -15%;
}

.side-crust {
    position: absolute;
    width: 23%;
    height: 117%;
    background: rgb(128, 83, 26);
    z-index: 2;
}

.west-crust {
    left: -11%;
    top: -15%;
}

.east-crust {
    right: -7%;
    top: -15%;
}

.side-crust-two {
    position: absolute;
    width: 23%;
    height: 117%;
    background: rgb(167, 102, 17);
    z-index: 4;
}

.east-crust-two {
    right: -9%;
    top: -17%;
}

.west-crust-two {
    left: -9%;
    top: -17%;
}

.side-crust-three {
    position: absolute;
    width: 23%;
    height: 117%;
    background: rgb(136, 87, 23);
    z-index: 6;
}

.west-crust-three {
    left: -7%;
    top: -19%;
}

.east-crust-three {
    top: -19%;
    right: -11%;
}