// /* GLOBAL STYLES */

body {
    background: $white;
    font-size: 62.5%;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

header {
    background: $salmon;
    padding: 35px 0;
    margin: 20px 0;
}

span {
    color: $blue;
}

.fresh {
    text-decoration: overline underline $white;
}

h1 {
    font-style: italic;
    font-family: "Supermercado One", Arial, sans-serif;
    font-size: 3.8rem;
    color: $white;
    padding: 0;
    margin: 0;
}

main {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:first-of-type {
    width: 65%;
    max-width: 900px;
}

section:last-of-type {
    width: 35%;
    max-width: 550px;
    padding-top: 30px;
}

.box {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 800px;
    height: 500px;
    background: none;
}


.sauce {
    position: absolute;
    width: 98%;
    height: 100%;
    left: 2%;
    top: -2%;
    background: rgba(190, 32, 21, 1);
    z-index: 3;
}

.cheese {
    position: absolute;
    width: 99%;
    height: 100%;
    left: 4%;
    top: -4%;
    background: rgba(255, 209, 4, 1);
    z-index: 5;
}

article {
    text-align: center;
    font-family: "Supermercado One", Arial, sans-serif;
    background: $blue;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 3.5rem;
    margin: 0;
    padding: 25px 0;
}

h3 {
    font-size: 2.0rem;
    margin: 15px 0;
    padding: 10px 0;
    background: $salmon;
    border: 2px dashed $white;
    border-right: none;
    border-left: none;
    
}

h4 {
    font-size: 1.6rem;
    margin: 20px 0;
}

form {
    margin: 30px 30px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

.showClass {
    visibility: visible;
}

.labelSelected {
    color: $salmon;
    text-shadow: black 1px 0 5px;
}

label {
    font-size: 1.2rem;
    width: 40%;
    padding: 5px 0;
    &:hover {
        cursor: pointer;
    }
}

footer {
    font-family: "Supermercado One", Arial, sans-serif;
    font-size: 1.0rem;
    color: $blue;
    text-align: center;
}

a {
    color: $blue;
    text-decoration: none;
    &:hover {
        color: $salmon;
    }
}