/* HAM STYLES */

.ham {
    position: absolute;
    height: 18%;
    width: 18%;
    background: rgb(194, 109, 123);
    visibility: hidden;
}

.ham-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top:-2px;
    right: -2px;
    border: 2px solid rgba(95, 62, 16, 0.8);
    // border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 10
}

.ham-border-two {
    position: absolute;
    width: 100%;
    height: 100%;
    top:-0.5px;
    right: -0.5px;
    border: 2px solid rgba(192, 65, 65, 0.829);
    z-index: 5;

}

.s-one-ham-one {
    top: 50%;
    right: 50%;
}

.s-one-ham-two {
    top: 20%;
    right: 29%;
    transform: rotate(10deg);
}

.s-one-ham-three {
    top: 12%;
    left: 14%;
    transform: rotate(-25deg);
}

.s-one-ham-four {
    top: 55%;
    right: 35%;
    transform: rotate(50deg);
}

.s-one-ham-five {
    top: 72%;
    right: 7%;
}

.s-two-ham-one {
    top: 17%;
    right: 5%;
    transform: rotate(10deg);
}

.s-two-ham-two {
    top: 27%;
    right: 55%;
    transform: rotate(-20deg);
}

.s-two-ham-three {
    top: 39%;
    right: 28%;
}

.s-two-ham-four {
    top: 55%;
    left: 15%;
    transform: rotate(-60deg);
}

.s-three-ham-one {
    top: 13%;
    left: 12%;
}

.s-three-ham-two {
    top: 23%;
    right: 11%;
    transform: rotate(20deg);
}

.s-three-ham-three {
    top: 25%;
    left: 25%;
}

.s-three-ham-four {
    top: 65%;
    left: 3%;
    transform: rotate(-20deg);
}

.s-three-ham-five {
    top: 77%;
    right: 22%;
    transform: rotate(25deg);
}

.s-four-ham-one {
    top: 10%;
    left: 30%;
    transform: rotate(10deg);
}

.s-four-ham-two {
    top: 33%;
    left: 45%;
}

.s-four-ham-three {
    top: 15%;
    right: 6%;
    transform: rotate(-30deg);
}

.s-four-ham-four {
    top: 75%;
    left: 14%;
    transform: rotate(-12deg);
}

.s-five-ham-one {
    top: 10%;
    right: 5%;
}

.s-five-ham-two {
    top: 30%;
    left: 14%;
    transform: rotate(10deg);
}

.s-five-ham-three {
    top: 70%;
    right: 6%;
    transform: rotate(5deg);
}

.s-five-ham-four {
    top: 40%;
    right: 45%;
}

.s-six-ham-one {
    top: 10%;
    right: 40%;
}

.s-six-ham-two {
    top: 16%;
    left: 7%;
    transform: rotate(45deg);
}

.s-six-ham-three {
    top: 55%;
    right: 20%;
    transform: rotate(-30deg);
}

.s-six-ham-four {
    top: 63%;
    left: 30%;
}

.s-six-ham-five {
    top: 70%;
    left: 20%;
    transform: rotate(-60deg);
}

