/* MUSHROOM STYLES */
.mushroom {
    position: absolute;
    height: 32%;
    width: 32%;
}

.mushroom-cap {
    position: absolute;
    height: 60%;
    width: 100%;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: rgb(224, 198, 164);
}

.mushroom-stem {
    position: absolute;
    height: 30%;
    width: 40%;
    background: rgb(224, 198, 164);
    bottom: 10%;
    right: 30%;
}

.mushroom-accent-one {
    position: absolute;
    height: 25%;
    width: 10%;
    background:rgba(71, 50, 50, 0.7);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom: none;
    top: 36%;
    left: 19%;
}

.mushroom-accent-two {
    position: absolute;
    height: 25%;
    width: 10%;
    background:rgba(71, 50, 50, 0.7);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom: none;
    top: 36%;
    right: 19%;
}

.cap-accent {
    position: absolute;
    border: 2px solid rgba(71, 50, 50, 0.7);
    width: 100%;
    height: 100%;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.stem-accent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2%;
    left: -2%;
    border: 2px solid rgba(71, 50, 50, 0.7);
    border-top: none;
    border-right: none;
}
.s-one-mushroom-one {
    top: 20%;
    left: 20%;
    transform: rotate(-10deg);
}

.s-one-mushroom-two {
    top: 37%;
    right: 13%;
    transform: rotate(10deg);
}

.s-one-mushroom-three {
    bottom: 8%;
    left: 28%;
    transform: rotate(160deg);
}

.s-two-mushroom-one {
    right: 7%;
    transform: rotate(60deg);
}

.s-two-mushroom-two {
    top: 12%;
    left: 10%;
    transform: rotate(6deg);
}

.s-two-mushroom-three {
    top: 34%;
    left: 45%;
    transform: rotate(-12deg);
}

.s-two-mushroom-four {
    bottom: 10%;
    left: 7%;
    transform: rotate(30deg);
}

.s-two-mushroom-five {
    bottom: 3%;
    right: 5%;
    transform: rotate(-100deg);
}

.s-three-mushroom-one {
    top: 20%;
    right: 3%;
}

.s-three-mushroom-two {
    top: 3%;
    left: 13%;
    transform: rotate(25deg);
}

.s-three-mushroom-three {
    top: 35%;
    left: 23%;
    transform: rotate(-34deg);
}

.s-three-mushroom-four {
    top: 56%;
    right: 13%;
    transform: rotate(-160deg);
}

.s-three-mushroom-five {
    top: 68%;
    left: 7%;
    transform: rotate(20deg);
}

.s-four-mushroom-one {
    top: 2%;
    right: 12%;
    transform: rotate(-100deg);
}

.s-four-mushroom-two {
    top: 12%;
    left: 3%;
    transform: rotate(10deg);
}

.s-four-mushroom-three {
    top: 30%;
    left: 25%;
    transform: rotate(3deg);
}

.s-four-mushroom-four {
    top: 45%;
    right: 2%;
    transform: rotate(75deg);
}

.s-four-mushroom-five {
    top: 68%;
    left: 18%;
    transform: rotate(-30deg);
}

.s-five-mushroom-one {
    top: 3%;
    left: 45%;
    transform: rotate(-12deg);
}

.s-five-mushroom-two {
    top: 40%;
}

.s-five-mushroom-three {
    top: 33%;
    right: 3%;
    transform: rotate(30deg);
}

.s-five-mushroom-four {
    top: 62%;
    right: 41%;
    transform: rotate(-30deg);
}

.s-six-mushroom-one {
    top: 3%;
    right: 0;
    transform: rotate(10deg);
}

.s-six-mushroom-two {
    top: 8%;
    left: 13%;
    transform: rotate(-23deg);
}

.s-six-mushroom-three {
    top: 45%;
    right: 23%;
    transform: rotate(-76deg);
}

.s-six-mushroom-four {
    top: 68%;
    left: 10%;
    transform: rotate(-45deg);
}