/* OLIVE STYLES */

.olive {
    position: absolute;
    width: 16%;
    height: 16%;
    border: 10px solid rgb(32, 30, 30);
    border-radius: 50%;
    visibility: hidden;
}

.olive-accent {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -18%;
    right: -20%;
    border-radius: 50%;
    border: 1.5px solid rgba(8, 83, 27, 0.801);
}

.s-one-olive-one {
    top: 50%;
    right: 10%;
}

.s-one-olive-two {
    top: 25%;
    left: 13%;
}

.s-one-olive-three {
    top: 80%;
    left: 40%;
}

.s-two-olive-one {
    top: 12%;
    right: 35%;
}

.s-two-olive-two {
    top: 39%;
    left: 8%;
}

.s-two-olive-three {
    top: 80%;
    left: 45%;
}

.s-three-olive-one {
    top: 35%;
    right: 40%;
}

.s-three-olive-two {
    bottom: 5%;
    right: 50%;
}

.s-four-olive-one {
    bottom: 14%;
    right: 5%;
}

.s-four-olive-two {
    top: 15%;
    left: 19%;
}

.s-four-olive-three {
    top:3%;
    right: 1%;
}

.s-five-olive-one {
    top: 26%;
    right: 30%;
}

.s-five-olive-two {
    top: 70%;
    left: 3%;
}

.s-six-olive-one {
    top: 50%;
    left: 7%;
}

.s-six-olive-two {
    top: 38%;
    right: 30%;
}

.s-six-olive-three {
    top: 3%;
    left: 10%;
}