/* PEPPERONI STYLES */

.pepperoni {
    position: absolute;
    width: 34%;
    height: 34%;
    background: brown;
    border-radius: 50%;
}

.half-pepperoni {
    position: absolute;
    width: 38%;
    height: 19%;
    background: brown;
}

.quarter-pepperoni {
    position: absolute;
    width: 25%;
    height: 25%;
    background: brown;
}

.quarter-left {
    border-bottom-right-radius: 90px;
}

.quarter-right {
    border-bottom-left-radius: 90px;
}

.pepperoni-ring {
    position: absolute;
    width: 99%;
    height: 99%;
    top: -4%;
    left: 4%;
    border: 2px solid rgba(233, 217, 217, 0.884);
}

.full-ring {
    border-radius: 50%;
}

.half-ring-top {
    border-bottom: none;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.quarter-ring {
    border-top: none;
}

.quarter-ring-right {
    border-right: none;
    border-bottom-left-radius: 90px;
}

.quarter-ring-left {
    border-bottom-right-radius: 90px;
    border-left: none;
}

.pepperoni-fat-one {
    position: absolute;
    width: 8%;
    height: 10%;
    background: rgba(224, 161, 161, 0.781);
    border-radius: 50%;
    top: 30%;
    left: 27%;
}

.pepperoni-fat-two {
    position: absolute;
    width: 8%;
    height: 10%;
    border-radius: 50%;
    background: rgba(224, 161, 161, 0.781);
    bottom: 40%;
    right: 17%;
}

.s-one-pep-one {
    top: 14%;
    left: 7%;
}

.s-one-pep-two {
    top: 35%;
    right: 4%;
}

.s-one-pep-three {
    bottom: 5%;
    left: 23%;
}

.s-two-pep-one {
    top: 17%;
    left: 4%;
}

.s-two-pep-two {
    top: 45%;
    right: 10%;
}

.s-two-half-pep-one {
    bottom: 0;
    right: 38%;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.s-two-quart-pep-one {
    right: 0;
    top: 8%;
}

.s-three-quart-pep-one {
    top: 8%;
}

.s-three-pep-one {
    top: 35%;
    right: 10%;
}

.s-three-half-pep-one {
    right: 25%;
    bottom: 0;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.s-three-pep-two {
    top: 55%;
    left: 7%;
}

.s-three-pep-three {
    top: 18%;
    left: 18%;
}

.s-four-pep-one {
    top: 3%;
    left: 18%;
}

.s-four-pep-two {
    top: 60%;
    left: 55%;
}

.s-four-pep-three {
    top: 70%;
    left: 8%;
}

.s-four-pep-four {
    top: 17%;
    right: 5%;

}

.s-five-pep-one {
    top: 22%;
    left: 2%;
}

.s-five-pep-two {
    top: 34%;
    right: 15%;
}

.s-five-pep-three {
    top: 70%;
    right: 50%;
}

.s-five-half-pep-one {
    left: 24%;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.half-ring-bottom {
    border-bottom: none;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.s-five-half-pep-two {
    right: 0;
    top: 5%;
    height: 37%;
    width: 20%;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.half-ring-side {
    border-right: 0;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.s-six-half-pep-one {
    left: 0;
    top: 5%;
    width: 20%;
    height: 37%;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

.half-ring-side-two {
    border-left: 0;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

.s-six-half-pep-two {
    right: 25%;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.s-six-pep-one {
    top: 20%;
    left: 20%;
}

.s-six-pep-two {
    top: 55%;
    right: 17%;
}

.s-six-pep-three {
    top: 75%;
    right: 55%;
}


