/* PINEAPPLE STYLES */

.pineapple {
    position: absolute;
    height: 20%;
    width: 20%;
    transform: skew(20deg);
    background: rgba(243, 217, 70, 0.979);
    border-bottom: 2px solid rgba(151, 137, 96, 0.8);
    border-left: 2px solid rgba(151, 137, 96, 0.8);
    visibility: hidden;

}
.pineapple-line {
    position: absolute;
    height: 65%;
    width: 10%;
    border: 2px solid rgba(151, 137, 96, 0.8);
    right: 28%;
}

.pineapple-line-two {
    position: absolute;
    height: 65%;
    // width: 10%;
    border: 2px solid rgba(151, 137, 96, 0.8);
    left: 28%;
}

.s-one-pine-one {
    top: 10%;
    left: 26%;
}

.s-one-pine-two {
    top: 55%;
    left: 14%;
    transform: rotate(30deg) skew(20deg);
}

.s-one-pine-three {
    top: 13%;
    right: 13%;
    transform: rotate(-30deg) skew(20deg);
}

.s-one-pine-four {
    top: 65%;
    right: 31%;
}

.s-two-pine-one {
    top: 30%;
    right: 4%;
}

.s-two-pine-two {
    top: 10%;
    left: 5%;
    transform: rotate(180deg) skew(20deg);
}

.s-two-pine-three {
    top: 61%;
    left: 30%;
    transform: rotate(10deg) skew(20deg);
}

.s-two-pine-four {
    top: 65%;
    right: 13%;
    transform: rotate(-23deg) skew (20deg);
}

.s-two-pine-five {
    top: 8%;
    right: 45%;
}

.s-three-pine-one {
    right: 30%;
    top: 13%;
}

.s-three-pine-two {
    top: 45%;
    right: 18%;
    transform: rotate(-25deg) skew(20deg);
}

.s-three-pine-three {
    top: 65%;
    right: 45%;
    transform: rotate(-60deg) skew(20deg);
}

.s-three-pine-four {
    top: 35%;
    left: 6%;
}

.s-four-pine-one {
    top: 3%;
    left: 13%;
}

.s-four-pine-two {
    top: 45%;
    left: 21%;
    transform: rotate(45deg) skew(20deg);
}

.s-four-pine-three {
    bottom: 18%;
    right: 28%;
    transform: rotate(30deg) skew(20deg);
}

.s-four-pine-four {
    right: 10%;
    top: 7%;
    transform: rotate(10deg) skew(20deg);
}

.s-five-pine-one {
    top: 20%;
    right: 12%;
}

.s-five-pine-two {
    top: 13%;
    right: 45%;
    transform: rotate(60deg) skew(20deg);
}

.s-five-pine-three {
    top: 7%;
    left: 7%;
    transform: rotate(70deg) skew(20deg);
}

.s-five-pine-four {
    bottom: 21%;
    left: 20%;
}

.s-five-pine-five {
    bottom: 17%;
    right: 18%;
    transform: rotate(-10deg) skew(20deg);
}

.s-six-pine-one {
    bottom: 10%;
    right: 26%;
}

.s-six-pine-two {
    top: 10%;
    left: 13%;
    transform: rotate(15deg) skew(20deg);
}

.s-six-pine-three {
    top: 46%;
    left: 6%;
}

.s-six-pine-four {
    top: 23%;
    right: 13%;
    transform: rotate(-30deg) skew(20deg);
}

.s-six-pine-five {
    top: 36%;
    right: 45%;
}