article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* VARIABLES */
body {
  background: lemonchiffon; }

.box {
  position: relative;
  margin: auto;
  display: block;
  border: 4px solid goldenrod;
  margin-top: 8%;
  width: 800px;
  height: 500px;
  background: none; }

.sauce {
  position: absolute;
  width: 98%;
  height: 100%;
  left: 2%;
  top: -2%;
  background: #be2015;
  z-index: 3; }

.cheese {
  position: absolute;
  width: 99%;
  height: 100%;
  left: 4%;
  top: -4%;
  background: #ffd104;
  z-index: 5; }

/* PIZZA SLICE STYLES */
.slice {
  position: absolute;
  width: 33.33%;
  height: 50%; }

.slice-one {
  left: 0; }

.slice-two {
  left: 33.3%; }

.slice-three {
  right: 0; }

.slice-four {
  left: 0;
  top: 50%; }

.slice-five {
  left: 33.3%;
  top: 50%; }

.slice-six {
  right: 0;
  top: 50%; }

/* CRUST STYLES */
.base-crust {
  position: absolute;
  width: 78%;
  height: 80%;
  background: #9c6a28; }

.crust-one {
  top: 17%;
  left: 17%; }

.crust-two {
  top: 17%;
  left: 11%; }

.crust-three {
  top: 17%;
  right: 17%; }

.crust-four {
  bottom: 17%;
  left: 17%; }

.crust-five {
  bottom: 17%;
  left: 11%; }

.crust-six {
  bottom: 17%;
  right: 17%; }

.top-crust {
  position: absolute;
  width: 105%;
  height: 23%;
  background: #80531a;
  z-index: 2;
  left: -2%; }

.north-crust {
  top: -15%; }

.south-crust {
  bottom: -19%; }

.top-crust-two {
  position: absolute;
  width: 105%;
  height: 23%;
  background: #a76611;
  z-index: 4;
  left: 0; }

.north-crust-two {
  top: -17%; }

.south-crust-two {
  bottom: -17%; }

.top-crust-three {
  position: absolute;
  width: 105%;
  height: 23%;
  background: #885717;
  z-index: 6;
  left: 2%; }

.north-crust-three {
  top: -19%; }

.south-crust-three {
  bottom: -15%; }

.side-crust {
  position: absolute;
  width: 23%;
  height: 117%;
  background: #80531a;
  z-index: 2; }

.west-crust {
  left: -11%; }

.top-one {
  top: -15%; }

.east-crust {
  right: -7%; }

.side-crust-two {
  position: absolute;
  width: 23%;
  height: 117%;
  background: #a76611;
  z-index: 4; }

.east-crust-two {
  right: -9%; }

.west-crust-two {
  left: -9%; }

.side-crust-three {
  position: absolute;
  width: 23%;
  height: 117%;
  background: #885717;
  z-index: 6; }

.top-two {
  top: -17%; }

.bottom-one {
  bottom: -19%;
  height: 119%; }

.bottom-two {
  bottom: -17%;
  height: 119%; }

.bottom-three {
  bottom: -15%;
  height: 119%; }

.top-three {
  top: -19%; }

.west-crust-three {
  left: -7%; }

.east-crust-three {
  right: -11%; }

/* PEPPERONI STYLES */
.pepperoni {
  position: absolute;
  width: 34%;
  height: 34%;
  background: brown;
  border-radius: 50%; }

.half-pepperoni {
  position: absolute;
  width: 38%;
  height: 19%;
  background: brown;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px; }

.quarter-pepperoni {
  position: absolute;
  width: 25%;
  height: 25%;
  background: brown; }

.quarter-left {
  border-bottom-right-radius: 90px; }

.quarter-right {
  border-bottom-left-radius: 90px; }

.pepperoni-ring {
  position: absolute;
  width: 99%;
  height: 99%;
  top: -4%;
  left: 4%;
  border: 2px solid rgba(233, 217, 217, 0.884); }

.full-ring {
  border-radius: 50%; }

.half-ring {
  border-bottom: none;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px; }

.quarter-ring {
  border-top: none; }

.quarter-ring-right {
  border-right: none;
  border-bottom-left-radius: 90px; }

.quarter-ring-left {
  border-bottom-right-radius: 90px;
  border-left: none; }

.pepperoni-fat-one {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgba(224, 161, 161, 0.781);
  border-radius: 50%;
  top: 30%;
  left: 27%; }

.pepperoni-fat-two {
  position: absolute;
  width: 8%;
  height: 10%;
  border-radius: 50%;
  background: rgba(224, 161, 161, 0.781);
  bottom: 40%;
  right: 17%; }

.s-one-pep-one {
  top: 14%;
  left: 7%; }

.s-one-pep-two {
  top: 35%;
  right: 4%; }

.s-one-pep-three {
  bottom: 5%;
  left: 23%; }

.s-two-pep-one {
  top: 17%;
  left: 4%; }

.s-two-pep-two {
  top: 45%;
  right: 10%; }

.s-two-half-pep-one {
  bottom: 0;
  right: 38%; }

.s-two-quart-pep-one {
  right: 0;
  top: 8%; }

.s-three-quart-pep-one {
  top: 8%; }

.s-three-pep-one {
  top: 35%;
  right: 10%; }

.s-three-half-pep-one {
  right: 25%;
  bottom: 0; }

.s-three-pep-two {
  top: 55%;
  left: 7%; }

.s-three-pep-three {
  top: 18%;
  left: 18%; }

.s-four-pep-one {
  top: 3%;
  left: 24%; }

.s-four-pep-two {
  top: 60%;
  left: 55%; }

.s-four-pep-three {
  top: 76%;
  left: 20%; }
